body {
  background-color: rgb(11, 37, 75);
  color:ghostwhite;
  text-align: center;
}


.nav-box {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 2em;
  font-weight: bold;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:space-between;
  gap: 1em;
  float: left;
  height: 300px;
  font-size: 20px;
}


.nav-link a {
  padding: 20px;
  border-radius: 2em;
  color:rgb(0, 4, 17);
  background-color: rgb(3, 105, 105);
  text-decoration: none;
  border: 5px solid transparent;
}

.nav-link a:hover {
  border-color:rgb(127, 140, 255);
  cursor: pointer;
}

.create-box {
  text-align: center;
  width: 80%;
  float:left;
}
.create-arch {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: 100px;
}

.create-arch h4 {
  padding:5px;
  margin: 5px;
  background-color: rgb(216, 230, 250);
  color: rgb(0, 0, 29);
  border-radius: 2em;
  border: 5px solid transparent;
}

.create-arch h4:hover {
  border-color:aquamarine;
  cursor: pointer;
}

.create-arch h4.selected {
  box-shadow: 0 0 1px 2px rgb(127, 129, 255);
  border-color: aquamarine;
  background-color: #e0fdf7;
}

.create-submit {
  background-color:rgb(228, 183, 70);
  padding: 2px;
  border-radius: 2em;
  color: rgb(0, 0, 29);
  width: 170px;
  margin: 0 auto;
  margin-top: 4px;
}

.create-submit:hover{
  cursor: pointer;

}
.create-submit:active {
  background-color:rgb(146, 105, 0);
  padding: 2px;
  border-radius: 2em;
  color: rgb(0, 0, 143);
  width: 170px;
  margin: 0 auto;
  margin-top: 4px;
}

.class-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.student-card {
  border: 2px solid #ccc;
  border-radius: 1em;
  padding: 1em;
  width: 200px;
  background-color: #000d24;
  transition: transform 0.2s ease;
}

.student-card:hover {
  transform: scale(1.03);
}


.edit-form .create-arch {
  width:65%;
  margin-left: 26%;
  margin-bottom: 4px;
}
.edit-form.off {
  display:none;
}

.edit-button {
  margin-left: 56%;
  margin-right: 45%;
  margin-bottom:5px;
  width: 5%;
  border-radius: 2em;
  background-color:rgb(150, 107, 0);
}

.edit-button:hover {
  cursor: pointer;
  background-color: rgb(196, 140, 0) ;
}

.edit-button:active {
  cursor: pointer;
  color:black;
  background-color: rgb(196, 140, 0) ;
}

.edit-nav {
  margin-left: 53%;
  margin-right: 45%;
  width: 10%;
  border-radius: 2em;
  background-color:rgb(150, 107, 0);
}
.edit-nav a {
    padding: 40px;
    text-decoration: none;
    color: #ffffff;
}

.edit-button a {
  color: #ffffff;
  text-decoration: none;
}
